<div class="container">
    <form #formCreate = "ngForm" (ngSubmit)="crearDepartamento()">
        <label>Número</label>
        <input type="number" class="form-control" name="cajanumero" [(ngModel)]="cajanumero"/>
        <label>Nombre</label>
        <input type="text" class="form-control" name="cajanombre" [(ngModel)]="cajanombre"/>
        <label>Localidad</label>
        <input type="text" class="form-control" name="cajalocalidad" [(ngModel)]="cajalocalidad"/>
        <button class="btn btn-primary" >Crear</button>
    </form>
</div>